@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard Variable', Pretendard, Roboto, -apple-system, BlinkMacSystemFont, system-ui, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply bg-neutral-100/70;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  // user-select: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-use-select: none;
  img {
    -webkit-user-drag: none;
  }
  ::selection {
    background-color: #fb7185;
    color: #ffffff;
  }

  p {
    line-height: 1.35;
  }
}

::-webkit-scrollbar {
  display: none;
}
