/**
* ! Tech styles !
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.tech {
  a {
    @apply text-lg text-rose-400 duration-200 border-b-4 border-rose-400 hover:text-rose-600 hover:border-rose-600 hover:transition-opacity;
  }
  h1, h2, h3, h4, h5, h6, p, li, blockquote {
    code {
      @apply bg-orange-100 rounded-md py-0.5 px-1;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    a {
      @apply inline-block border-0 align-middle;
      .icon {
        @apply block pr-2;
        content: url('/images/hash.svg');
        &:hover {
          content: url('/images/hash-hover.svg');
        }
      }
    }
  }
  h1 {
    @apply text-3xl font-bold break-keep leading-[60px] my-2 sm:my-6;
  }
  h2 {
    @apply text-2xl font-bold break-keep my-2 sm:my-6;
  }
  h3 {
    @apply text-xl font-bold break-keep my-2 sm:my-6;
  }
  h4 {
    @apply text-lg font-bold break-keep;
  }
  h5 {
    @apply text-base font-bold break-keep;
  }
  h6 {
    @apply text-sm font-bold break-keep;
  }
  p {
    @apply text-lg my-2 sm:my-5 break-keep;
  }
  table {
    @apply w-full my-6 border-collapse;
    th, td {
      @apply border border-orange-300 px-2 sm:px-4 py-1 sm:py-2;
    }
    th {
      @apply bg-orange-100 font-bold text-center;
    }
    tr:nth-child(even) {
      @apply bg-orange-50;
    }
  }
  blockquote {
    @apply border-l-4 border-rose-300 pl-4 my-4 text-lg;
  }
  pre {
    @apply p-5 rounded-2xl my-10 border-2 border-neutral-700 shadow-md shadow-neutral-400;
  }
  ul {
    @apply pl-6 py-2 list-image-[url(/images/checkMark.svg)];
  }
  ol {
    @apply pl-6 py-2 list-decimal;
  }
  li {
    @apply my-3;
  }
  hr {
    @apply border-b-2 border-rose-300 my-6 sm:my-10;
  }
  img {
    @apply rounded-md shadow-md shadow-neutral-400;
  }
}