---
import Bold from '@components/Bold.astro'
import List from '@components/main/List.astro'

import { MENU_ITEMS, type Item } from '../../i18n/consts.ts'
import { type Lang } from '../../i18n.ts'

const locale = Astro.currentLocale as Lang;

interface Props {
  reference: Item[]
  stack: Item[]
}

const { reference, stack } = Astro.props as Props
---
<p class='mb-2'>
  {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].MAIN_REFERENCE.first}
  <Bold customClass='text-red-400' text=',' /><br />
  {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].MAIN_REFERENCE.second}
  <Bold customClass='text-red-400' text='!' />
</p>
<List
  listClass='list-disc pl-8 mb-2'
  listItem={reference}
/>
<p>
  {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].MAIN_REFERENCE.third}
  <Bold customClass='text-red-400' text=',' /><br />
</p>
<List
  listClass='list-disc pl-8 mb-2'
  listItem={stack}
/>