---
import { getCollection, render, type CollectionEntry } from 'astro:content'

import TechLayout from '../../../layouts/TechLayout.astro'

import '@styles/tech.scss'
import { LOCALES } from '../../../i18n'

export async function getStaticPaths() {
  const techEntries = (await getCollection('tech'))
    .filter((tech) => tech.data.isDraft);
  
  return techEntries.map((entry) => {
    const [lang, slug] = entry.id.split('/');
    return {
      params: { 
        lang: lang as keyof typeof LOCALES, 
        slug 
      },
      props: { entry, lang },
    };
  });
}

// type Props = {
//   entry: CollectionEntry<'tech'>
// }

const { entry } = Astro.props
const { Content, remarkPluginFrontmatter} = await render(entry)
---
<TechLayout frontmatter={entry.data} minutes={remarkPluginFrontmatter}>
  <div class="tech">
    <Content />
  </div>
</TechLayout>
