---
import Layout from '@layouts/Layout.astro'
import Giscus from '@components/Giscus.astro'
---
<Layout title='Guestbook' description='Guestbook'>
  <main>
    <section class="giscus mx-auto mt-10 w-screen px-4 py-5 lg:w-[1000px] lg:px-0">
      <Giscus
        giscusId='Guestbook'
        giscusCategory='Guestbook'
        giscusCategoryId='DIC_kwDOLF55Bc4CcmYh'
      />
    </section>
  </main>
</Layout>
