---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
---

<Layout title='Dewdew World!'>
  <div
    class='relative mt-8 flex w-screen flex-col items-center justify-between gap-2 px-4 py-2 lg:w-[1000px] lg:px-0'
  >
    <img
      class='mb-6 cursor-pointer rounded-full border-4 border-red-400 bg-zinc-100 duration-200 hover:border-rose-600 hover:opacity-90 hover:transition-opacity'
      src='/images/dewdew_world.png'
      width='300'
      height='300'
    />
    <div class='w-screen px-4 text-lg text-zinc-700 lg:w-[600px] lg:px-0'>
      <p class='mb-3'>
        Hi there, I'm Yeonju <b class='text-red-400'>!</b><br />
        I'm in <a
          class='text-sky-400 duration-200 hover:text-sky-200 hover:transition-opacity'
          href='https://en.wikipedia.org/wiki/Seoul'>Seoul</a
        >, Republic of Korea. and I'm a Front-end Developer<b
          class='text-red-400'>.</b
        ><br />
        Now, current working at <a
          class='text-sky-400 duration-200 hover:text-sky-200 hover:transition-opacity'
          href='https://www.gadget.network'>Gadget Korea</a
        >.<br />
      </p>
      <p class='mb-3'>
        If you want to check out my work and progress in development<b
          class='text-red-400'>,</b
        ><br /> you can find it below!
      </p>
      <ul class='list-disc pl-8'>
        <li>
          <span>Github Profile</span>
        </li>
        <li>
          <span>Dewdew Dev</span>
        </li>
        <li>
          <span>Dooramgi</span>
        </li>
        <li>
          <span>Dooramgi</span>
        </li>
      </ul>
    </div>
    <Card text={'듀임'} />
  </div>
</Layout>
