---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
---

<Layout title='Dewdew World!'>
  <Card text={'듀임'} />
  <h1>Hello World!</h1>
</Layout>

<style lang='scss'>

</style>
