---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Image } from 'astro:assets'
import Link from '@components/Link.astro'

getRelativeLocaleUrl('ko', 'about')
---

<div class='relative hidden w-screen items-center justify-between border-b border-zinc-700 px-4 py-5 lg:flex lg:w-[1000px] lg:px-0'>
  <Link
    link='/'
    customClass='flex items-center gap-1'
    target='_self'
    label='dewdew'
  >
    <span
      slot='link'
      class='cursor-pointer text-3xl font-bold text-red-400 duration-200 hover:text-rose-600 hover:opacity-90 hover:transition-opacity'
    >
      Dewdew
    </span>
    <Image
      slot='link'
      class='cursor-pointer rounded-full border border-zinc-700 duration-200 hover:border-rose-600 hover:opacity-90 hover:transition-opacity'
      src='/images/dewdew_world.webp'
      width={30}
      height={30}
      quality={80}
      loading='lazy'
      alt='dewdew world'
    />
  </Link>
  <div class='flex-auto' />
  <div class='flex items-center gap-3'>
    <Link
      text='Uses'
      link={getRelativeLocaleUrl('ko', 'uses')}
      customClass='cursor-pointer text-lg text-red-400 duration-200 hover:text-rose-600 hover:opacity-90 hover:transition-opacity'
      target='_self'
      label='uses'
    />
    <div class='h-4 border-r border-zinc-700' />
    <Link
      text='Tech'
      link={getRelativeLocaleUrl('ko', 'tech')}
      customClass='cursor-pointer text-lg text-red-400 duration-200 hover:text-rose-600 hover:opacity-90 hover:transition-opacity'
      target='_self'
      label='tech'
    />
    <div class='h-4 border-r border-zinc-700' />
    <Link
      text='Guestbook'
      link={getRelativeLocaleUrl('ko', 'guestbook')}
      customClass='cursor-pointer text-lg text-red-400 duration-200 hover:text-rose-600 hover:opacity-90 hover:transition-opacity'
      target='_self'
      label='guestbook'
    />
    <div class='h-4 border-r border-zinc-700' />
    <Link
      text='Dewdew Dev'
      link='https://www.dewdew.dev'
      customClass='cursor-pointer text-lg text-red-400 duration-200 hover:text-rose-600 hover:opacity-90 hover:transition-opacity'
      target='_blank'
      label='dewdew'
    />
  </div>
</div>
