---
import { Icon } from 'astro-icon/components'
import Link from '@components/Link.astro'
import { getRelativeLocaleUrl } from 'astro:i18n'

import { MENU_ITEMS, FOOTER_LINKS } from '../i18n/consts.ts'
import { type Lang } from '../i18n.ts'

const locale = Astro.currentLocale as Lang;
---
<div class='relative flex w-screen items-center justify-between border-t border-neutral-700 px-4 py-5 lg:w-[1000px] lg:px-0'>
  <a class='flex items-center gap-1' href={getRelativeLocaleUrl(locale, '/')}>
    <span class='cursor-pointer text-base text-red-400 duration-200 hover:text-rose-600 hover:opacity-90 hover:transition-opacity'>
      {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].footerTitle}
    </span>
  </a>
  <div class='flex-auto' />
  <div class='flex items-center gap-3'>
    {
      FOOTER_LINKS.map((link) => {
        // RSS 링크는 현재 언어에 맞게 동적으로 생성
        const linkUrl = link.label === 'rss' 
          ? getRelativeLocaleUrl(locale, '/rss.xml')
          : link.link;
        
        return (
          <Link
            link={linkUrl}
            customClass={link.class}
            target='_blank'
            label={link.label}
          >
            <Icon slot='link' name={link.iconName} />
          </Link>
        );
      })
    }
  </div>
</div>
