---
import { getRelativeLocaleUrl } from 'astro:i18n'

const aboutURL=getRelativeLocaleUrl('ko', 'about')

---
<div class="relative flex justify-between items-center py-5 px-4 w-screen border-b border-zinc-700 lg:w-[1000px] lg:px-0">
  <a
    class="flex gap-1 items-center"
    href="/"
  >
    <span class="text-3xl font-bold cursor-pointer text-red-400 hover:text-rose-600 hover:transition-opacity hover:opacity-90 duration-200">
      Dewdew
    </span>
    <img
      class="cursor-pointer rounded-full border border-zinc-700 hover:border-rose-600 hover:transition-opacity hover:opacity-90 duration-200"
      src="/images/dewdew_world.png"
      width="30"
      height="30"
    />
  </a>
  <div class="flex-auto" />
  <div class="flex items-center gap-3">
    <a
      class="cursor-pointer text-lg text-red-400 hover:text-rose-600 hover:transition-opacity hover:opacity-90 duration-200"
      href={getRelativeLocaleUrl('ko', 'about')}
      target="_self"
      aria-label="about"
    >
      About
    </a>
    <div class="h-4 border-r border-zinc-700" />
    <a
      class="cursor-pointer text-lg text-red-400 hover:text-rose-600 hover:transition-opacity hover:opacity-90 duration-200"
      href={getRelativeLocaleUrl('ko', 'tech')}
      target="_self"
      aria-label="tech"
    >
      Tech
    </a>
    <div class="h-4 border-r border-zinc-700" />
    <a
      class="cursor-pointer text-lg text-red-400 hover:text-rose-600 hover:transition-opacity hover:opacity-90 duration-200"
      href="https://www.dewdew.dev"
      target="_blank"
      aria-label="dewdew"
    >
      Dewdew Dev
    </a>
  </div>
</div>