---
import Layout from '@layouts/Layout.astro'
import Giscus from '@components/Giscus.astro'

import { LOCALES, type Lang } from '../../i18n.ts'
import { MENU_ITEMS } from '../../i18n/consts.ts'

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---
<Layout title='Guestbook' description='Guestbook'>
  <main>
    <section class="giscus mx-auto mt-10 w-screen px-4 py-5 lg:w-[1000px] lg:px-0">
      <h2 class='text-2xl font-bold text-red-400'>{MENU_ITEMS[locale as keyof typeof MENU_ITEMS].guestbook.title}</h2>
      <p class='text-lg text-neutral-700 mb-4'>{MENU_ITEMS[locale as keyof typeof MENU_ITEMS].guestbook.description}</p>
      <Giscus
        giscusCategory='Guestbook'
        giscusCategoryId='DIC_kwDOLF55Bc4CcmYh'
      />
    </section>
  </main>
</Layout>
