---
import { Image } from 'astro:assets'
import Layout from '@layouts/Layout.astro'

import Introduce from '@components/main/Introduce.astro'
import Reference from '@components/main/Reference.astro'
import Goal from '@components/main/Goal.astro'
import Contact from '@components/main/Contact.astro'

import { MAIN_REFERENCE, MAIN_STACK } from '../../i18n/consts.ts'
import { LOCALES } from '../../i18n.ts'

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---
<Layout title='Dewdew World!'>
  <div class='relative mt-8 flex w-screen flex-col items-center justify-between gap-2 px-4 py-6 lg:w-[1000px] lg:px-0'>
    <Image
      class='mb-6 cursor-pointer w-10/12 h-auto md:w-[300px] md:h-[300px] rounded-full border-4 border-red-400 bg-neutral-100 duration-200 hover:border-rose-600 hover:opacity-90 hover:transition-opacity'
      src='/images/dewdew_world.webp'
      alt='dewdew world'
      width={300}
      height={300}
      quality={80}
    />
    <div class='w-screen px-4 text-lg text-neutral-700 lg:w-[600px] lg:px-0'>
      <Introduce />
      <Reference
        reference={MAIN_REFERENCE}
        stack={MAIN_STACK}
      />
      <Goal />
      <Contact />
    </div>
  </div>
</Layout>
