---
import Giscus from '@components/Giscus.astro'
---
<section class='giscus mx-auto mt-10 w-full'>
  <Giscus
    giscusId='Blog Comment'
    giscusCategory='Blog Comment'
    giscusCategoryId='DIC_kwDOLF55Bc4CcmYi'
  />
</section>
