---
import Head from '@components/Head.astro'
import { ClientRouter } from 'astro:transitions'
import Link from '@components/Link.astro'

import { MENU_ITEMS } from '../i18n/consts.ts'
import { type Lang } from '../i18n.ts'

const title = 'Dewdew | 404'
const description = 'Dewdew World 🌏'

const locale = Astro.currentLocale as Lang;
---
<html lang='en'>
  <head>
    <Head title={title} description={description} />
    <ClientRouter fallback="swap" />
  </head>
  <body>
    <main class='flex min-h-screen flex-col items-center justify-center'>
      <p class='text-9xl font-bold'>
        {MENU_ITEMS[locale as keyof typeof MENU_ITEMS][404].title}
      </p>
      <p class='mb-8 mt-4 text-2xl'>
        {MENU_ITEMS[locale as keyof typeof MENU_ITEMS][404].notFound}
      </p>
      <Link
        link='/'
        customClass='cursor-pointer h-14 rounded-lg px-8 flex items-center text-lg text-neutral-50 bg-red-400 duration-200 hover:bg-rose-600 hover:opacity-90 hover:transition-opacity'
        target='_self'
        text='홈으로 가기'
        label='dewdew'
      />
    </main>
  </body>
</html>
