---
import Head from '@components/Head.astro'
import { ClientRouter } from 'astro:transitions'
import Desktop from '@components/header/Desktop.astro'
import Mobile from '@components/header/Mobile.astro'
import Footer from '@components/Footer.astro'

interface Props {
  title: string
  description?: string
}

const { title, description = 'Welcome to Dewdew World!' } = Astro.props
---
<html lang='en'>
  <head>
    <Head title={title} description={description} />
    <ClientRouter />
  </head>
  <body>
    <Desktop />
    <Mobile />
    <slot />
    <Footer />
    <style is:global>
      code {
        font-family:
          Hack,
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <script>
      import { inject } from '@vercel/analytics'
      inject()
    </script>
  </body>
</html>


