---
import Head from '@components/Head.astro'

interface Props {
  title: string
  description?: string
}

const { title, description = 'This is Dewdew World' } = Astro.props
---

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <slot />
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
