---
import { getCollection, type CollectionEntry } from 'astro:content'

import TechLayout from '@layouts/TechLayout.astro'

import '@styles/tech.scss'

export async function getStaticPaths() {
  const techEntries = await getCollection('tech').then((teches) =>
    teches.filter((tech) => tech.data.isDraft),
  )
  return techEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<'tech'>
}

const { entry } = Astro.props
const { Content, remarkPluginFrontmatter} = await entry.render()

---

<TechLayout frontmatter={entry.data} minutes={remarkPluginFrontmatter}>
  <div class="tech">
    <Content />
  </div>
</TechLayout>
