---
import Layout from '@layouts/Layout.astro'
// import BlogCard from '@components/BlogCard.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Debug } from 'astro:components'

const techPosts = await getCollection('tech')
  .then((posts) =>
    posts.sort(
      (a, b) =>
        new Date(b.data.publishedDate).valueOf() - new Date(a.data.publishedDate).valueOf(),
    ),
  )
  .then((posts) => posts.filter((post) => post.data.isDraft))

const getReadingTime = async (post: CollectionEntry<'tech'>) => {
  const { remarkPluginFrontmatter } = await post.render()
  return remarkPluginFrontmatter.readMinutes
}

---

<Layout title='Paul Valladares | Blog' description='Blog of Paul Valladares'>
  <main class='flex flex-col items-center'>
    <div class='w-[320px] md:w-[750px]'>
      <div class='text-white'>
        <h1>Posts</h1>
        <p class='mt-4 text-left'>
          I'm gonna use this space to write about my journey as a developer,
          tech projects and my thoughts on the tech industry. I hope you enjoy
          it!
        </p>
      </div>
      <div class='my-10 text-white'>
        {
          techPosts.map((post) => (
            <div>
              <p>{post.data.title}</p>
              <p>{post.data.description}</p>
              <p>{post.data.author}</p>
              <p>{getReadingTime(post)}</p>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
